@model Reci_me.BL.Models.Recipe
<!--Goes to the recipe page--!>
<a href="">
<div class="card">
    <img class="card-img-top rounded mx-auto d-block" src="~/images/Recipe/@Model.MainImagePath" alt="@Html.DisplayFor(model => model.Name) Image" style="max-width:50%;">
    <h6>@Html.DisplayFor(model => model.CategoryId) Recipe</h6>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <!--Ratings should go here-->
</div>
</a>
