@model IEnumerable<Reci_me.BL.Models.Category>

<body onload="ChangeIcon()">
    <ul>
        <li>
            <i id="icon" class="fa fa-hotdog" style="font-size: 20px;color:black;"> </i>
            <a id="iconName" href="/Recipe/Browse/0248972d-498a-4d3b-9051-8cfd3306df71"> American</a>
        </li>
        <li>
            <i id="icon" class="fa fa-fish" style="font-size: 20px;color:black;"> </i>
            <a id="iconName" href="/Recipe/Browse/033e5602-d59d-4e50-8db2-2772515c9d90"> Greek</a>
        </li>
        <li>
            <i id="icon" class="fa fa-pizza-slice" style="font-size: 20px;color:black;"> </i>
            <a id="iconName" href="/Recipe/Browse/a894832e-b0fd-46b3-8e3c-c58b4b7f43a4"> Italian</a>
        </li>
        <li>
            <i id="icon" class="fa fa-pepper-hot" style="font-size: 20px;color:black;"> </i>
            <a id="iconName" href="/Recipe/Browse/e6482bdc-46d6-4777-b0ee-658b337febc4"> Mexican</a>
        </li>
    </ul>
    @*<ul>
        @foreach (var category in Model)
        {
            @*<div id="icon" style="display: none;">@category.Name</div>*@
          @*  <li>
                <a id="iconName" asp-controller="Recipe"
                   asp-action="Browse"
                   asp-route-id="@category.Id">@category.Name</a>
                <i id="icon" class="fa" style="font-size:20px;color:black;"></i>
            </li>
        }
        @*<li onload="ChangeIcon()"></li>*@
      @*  <li><a asp-controller="Recipe" asp-action="Index">All Recipes</a></li>      
    </ul>*@
@*    <h1 id="icon"></h1>*@
</body>

<script type="text/javascript">   
    function ChangeIcon() {
        //for (let i = 0; i < 7; i++) {
        //    if (document.getElementById("iconName").innerHTML == "American") {
        //        document.getElementById("icon").classList.add("fa-hotdog");
        //    } else if (document.getElementById("iconName").innerHTML == "Mexican") {
        //        document.getElementById("icon").classList.add("fa-pepper-hot");
        //    }
        //}
        document.getElementById("icon").classList.add("fa-hotdog");
        
        
    }
</script>