@model IEnumerable<Reci_me.BL.Models.Category>

<ul>
    @foreach(var category in Model) {
        <li><a asp-controller="Recipe"
               asp-action="Browse"
               asp-route-id="@category.Id">@category.Name
            </a>
        </li>
    }
    <li><a asp-controller="Recipe" asp-action="Index">All Recipes</a></li>
</ul>