@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Permanent+Marker&family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>  
    <div>
        <h1 id="header" style="text-align: center; font-family: 'Libre Baskerville', serif;">
            Recipe of the day:
            <a id="lnkText" class="text-dark text-decoration-none" asp-area="" asp-controller="Recipe" asp-action="DetailsName" asp-route-name="Steak on the Stovetop"></a>         
        
        @*<a id="lnkText" class="text-dark text-decoration-none" asp-area="" asp-controller="Recipe" asp-action="DetailsName" asp-route-name="g_Id"></a>
    *@
    </h1>     
    </div>
</body>
<body onload="RecipeDaily()">
    <div class="wrapper mt-4" style="width:100%; text-align:center; max-width:1200px">
        <div class="hero-text">
            <h1 id="randText"><mark>Recipe of the week: Buffalo Wings</mark></h1>
        </div>
        <div class="hero-image">
            <img id="randImg" class="img-fluid" src="~/css/img/wings.jpg" height="350" width="350" style="border-radius: 15px" />
        </div>
        @*<div>
        For an eventual brief description of the dish
        <p id="desc"></p>
        </div>*@
        <div class="hero-text">
            <br />
        </div>
    </div>
</body>
<br />
<br />
<div class="card" style="padding: 10px; font-family: 'Libre Baskerville', serif;">
    <p>Reci-Me is a popular recipe website that offers users a seamless platform to search, save and create delicious recipes. With a vast collection of recipes from around the world, users can easily search for recipes based on their dietary preferences, ingredients, cooking methods, and more. The website's user-friendly interface allows users to create personalized recipe collections and easily access them from any device. Additionally, Reci-Me enables users to create and share their own unique recipes, making it an excellent platform for passionate cooks and aspiring chefs. With its extensive recipe database and interactive features, Reci-Me is a must-visit website for anyone looking to enhance their culinary skills and explore new flavors.   -- <em>Your RECI-ME Team</em></p>
</div>
<br />
<br />
<div class="card container-fluid">
    <div class="Taco Gallery">
        <h3 style="text-align:center; font-family: 'Libre Baskerville', serif;">Surround yourself with tacos, not negativity.</h3>
        </div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img src="css/img/BreakfastTacos.png" height="250" width="250" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="css/img/CaribbeanChickenTacos.png" height="250" width="250" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="css/img/ChorizoTacos.png" height="250" width="250" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="css/img/FlankSteakTacos.png" height="250" width="250" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="css/img/RockFishTacos.png" height="250" width="250" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="css/img/SweetPotatoBlackBeanTacos.png" height="250" width="250" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="css/img/VeganBreakFastTacos.png" height="250" width="250" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img src="css/img/JalapenoLimeSteakTacos.png" height="250" width="250" class="img-responsive" />
        </div>
    </div>
</div>
<br />
<br />
<div class="card" style="padding: 10px; font-family: 'Libre Baskerville', serif;">
    <p>The creators of Reci-Me come from diverse backgrounds, but they all share a passion for food and exploring different cuisines. Some have formal culinary training, while others have learned through travel and experimentation in the kitchen. They believe that food is a universal language that brings people together and allows them to experience different cultures and traditions. With this shared love of food, they have come together to create a platform where people can discover, learn and share their favorite recipes with others. Through their collective knowledge and expertise, they have built a website that offers a wide variety of recipes from all around the world, catering to different tastes and dietary needs. They hope that their website inspires others to discover and explore new foods and flavors, and to enjoy the many benefits of cooking and sharing meals with loved ones.</p>
</div>
<br />
<br />

    <div class="row">
    <h3 style="text-align:center; font-family: 'Libre Baskerville', serif;">Meet The Team</h3>
    <div class="column">
        <div class="card">
            <img src="css/img/Abigail.png" alt="Abigail" style="width:100%">
            <div class="container">
                <h2>Abigail</h2>
                <p class="title">Software Developer</p>
                <p>
                    <a asp-controller="ContactUs" asp-action="Index"><button class="button">Contact</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="css/img/Spencer.png" alt="Spencer" style="width:100%">
            <div class="container">
                <h2>Spencer</h2>
                <p class="title">Software Developer</p>
                <p>
                    <a asp-controller="ContactUs" asp-action="Index"><button class="button">Contact</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="css/img/Byron.png" alt="Byron" style="width:100%">
            <div class="container">
                <h2>Byron</h2>
                <p class="title">Software Developer</p>
                <p>
                    <a asp-controller="ContactUs" asp-action="Index"><button class="button">Contact</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="css/img/Max.png" alt="Max" style="width:100%">
            <div class="container">
                <h2>Max</h2>
                <p class="title">Software Developer</p>
                <p>
                    <a asp-controller="ContactUs" asp-action="Index"><button class="button">Contact</button></a>
                </p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="css/img/John.png" alt="John" style="width:100%">
            <div class="container">
                <h2>John</h2>
                <p class="title">Web Developer</p>
                <p>
                    <a asp-controller="ContactUs" asp-action="Index"><button class="button">Contact</button></a>
                </p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function RecipeDaily() {
        var d = new Date();
        var t = d.getTime();
        var days = Math.floor(t / (86400000));

        var imagearray = new Array('/css/img/blackenedshrimptacos.jpg', '/css/img/steakonstove.jpg', '/css/img/stuffed-peppers.jpg', '/css/img/RockFishTacos.png', '/css/img/JalapenoLimeSteakTacos.png', '/css/img/BreakfastTacos.png', '/css/img/SweetPotatoBlackBeanTacos.png');
        var i = days % imagearray.length;
        i = 1;
        document.getElementById("randImg").src = imagearray[i];
        var imagetextarray = new Array('Blackened Shrimp Tacos', 'Steak on the Stovetop', 'Stuffed Peppers', 'Rock Fish Tacos', 'Jalapeno Lime Steak Tacos', 'Breakfast Tacos', 'Sweet Potato Black Bean Tacos');
        document.getElementById("randText").innerHTML = imagetextarray[i];
        document.getElementById("lnkText").innerHTML = imagetextarray[i];
        var a = document.getElementById("lnkText");
        a.href = "/Recipe/DetailsName?name=" + imagetextarray[i];

    }

        //function RandomRecipe() {
        //    let randNum = Math.floor(Math.random() * 5);
        //    let imgMod;
        //    let txtMod;
        //    if (randNum <= 1) {
        //        imgMod = document.getElementById("randImg").src = "/css/img/blackenedshrimptacos.jpg";
        //        txtMod = document.getElementById("randText").innerHTML = "Blackened Shrimp Tacos";
        //        //imgMod.style.width = 100 + "px";
        //        //imgMod.style.height = 100 + "px";
        //    } else if (randNum > 1 && randNum <= 2) {
        //        document.getElementById("randImg").src = "/css/img/steakonstove.jpg";
        //        document.getElementById("randText").innerHTML = "Steak on the Stovetop";
        //    } else if (randNum > 2 && randNum <= 3) {
        //        document.getElementById("randImg").src = "/css/img/stuffed-peppers.jpg";
        //        document.getElementById("randText").innerHTML = "Stuffed Peppers";
        //    } else {
        //        document.getElementById("randImg").src = "/css/img/wings.jpg";
        //        document.getElementById("randText").innerHTML = "Buffalo Wings";
        //    }
        //}

        //function on(picture) {
        //    console.log('On')
        //    document.getElementById("overlay").style.display = "block";
        //    document.getElementById("output").src = picture;
        //}

        //function AddToCart(id) {
        //    $.get("/ShoppingCart/AddToCart/" + id, function (data) {
        //        console.log("Starting adding " + id);
        //        var cartcount = parseInt($("#cartcount").val()) + 1
        //        $("#cartcount").val(cartcount);
        //        $("#cartcountdisp").text(cartcount + " Items");
        //    });
        //}



</script>